.attendance-detail {
    display: block;
    width: auto;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1000px;
    padding: 50px 20px;
    box-sizing: border-box;
}

.attendance-detail-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.attendance-title {
    margin: 30px 0px;
    font-size: 30px;
    font-weight: bold;
}

.line-image {
    height: 40px;
    width: auto;
}

.attendance-detail-content {
    display: flex;
    width: 100%;
}

.form-group-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 70px;
    box-sizing: border-box;
    margin: 0 auto 30px;
}


.form-group {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 15px 0;
}

.attendance-detail-row {
    width: calc(100% + 60px);
    margin: 10px -30px;
    height: 2px;
    background-color: #f0eff2;
}

label {
    font-weight: bold;
    color: #737373;
    min-width: 80px;
}

input[type="time"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit {
    background-color: #000;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.pending-message {
    color: red;
    text-align: right;
    margin-bottom: 10px;
}

.work-year {
    margin-left: 50px;
    margin-right: 100px;
    font-weight: bold;
}

.work-month-day {
    font-weight: bold;
}